<h1>Home</h1>
<hr>
<div style="margin-left: 2em;">
    <h5>Router</h5>
    <div class="row" style="margin-bottom: 1em; margin-bottom: 5em;">
        <div style="margin-right: 2em;">
            <button class="btn btn-secondary" (click)="OpenUsers()">Go User Page</button>
        </div>
        <div>
            <button class="btn btn-secondary" (click)="OpenAcoounts()">Go Accounts Page</button>
        </div>
    </div>

    <h5>Login Logout</h5>
    <div class="row" style="margin-bottom: 1em;">

        <div style="margin-right: 2em;">
            <button class="btn btn-success" (click)="onLogin()">Login</button>
        </div>
        <div>
            <button class="btn btn-danger" (click)="onLogout()">Logout</button>
        </div>

    </div>
</div>